* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: "Open Sans", Verdana, Geneva, Tahoma, sans-serif
}

.container {
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.float {
    float: left;
}

.float-R {
    float: right;
}

.clearfix::after {
    content: "";
    display: table;
    clear: both;
}

.top-header {
    height: 80px;
    background-color: #3161e0;
    position: relative;
}

.top-header nav {
    text-align: center;
    width: 80%;
}

li {
    display: inline-block;
    margin: 0 2%;
}

li a {
    color: white;
}

li a:hover {
    text-decoration: underline;
    color: red;
}

a {
    text-decoration: none;
}

.container a:hover {
    text-decoration: underline;
}

.button {
    background-color: white;
    border-radius: 50px;
    color: black;
    padding: 5px 10px;
    display: inline-block;
}

.button:hover {
    text-decoration: underline;
    color: blue;
}

.bot-header {
    height: 600px;
    background-image: url(../img/jumbo.png);
    background-size: cover;
    text-align: center;
    color: white;
    position: relative;
}

.contenuto {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.bot-header h1 {
    font-size: 50px;
    margin-bottom: 30px;
}

.bot-header p {
    font-size: 22px;
    font-weight: 600;
    line-height: 35px;
}

.large-btn {
    padding: 10px 20px;
    width: 180px;
    font-weight: 600;
}

.dark-btn {
    background-color: black;
    color: white;
    padding: 10px 20px;
    width: 280px;
    margin-top: 20px;
}

/* prima sezione */

.sezione {
    max-width: 1200px;
    height: 600px;
    margin: 150px auto 0;
}

.sezione h1 {
    font-size: 50px;
    font-weight: 700;
}

.sezione p {
    font-size: 20px;
    font-weight: 600;
    margin-top: 30px;
}

.imgs {
    width: 40%;
}

.txts {
    width: 35%;
}

.wave img {
   opacity: 0.04;
}

/* seconda sezione */

.seconda-sezione {
    max-width: 1200px;
    height: 600px;
    margin: 150px auto 0;
}