* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: "Open Sans", Verdana, Geneva, Tahoma, sans-serif
}

.container {
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

article {
    height: 700px;
}

.float {
    float: left;
}

.float-R {
    float: right;
}

.clearfix::after {
    content: "";
    display: table;
    clear: both;
}

.top-header {
    height: 80px;
    background-color: #3161e0;
    position: relative;
}

.top-header nav {
    text-align: center;
    width: 80%;
}

.top-header li {
    display: inline-block;
    margin: 0 2%;
}

li a {
    color: white;
}

li a:hover {
    text-decoration: underline;
    color: red;
}

a {
    text-decoration: none;
}

.container a:hover {
    text-decoration: underline;
}

.button {
    background-color: white;
    border-radius: 50px;
    color: black;
    padding: 5px 10px;
    display: inline-block;
}

.button:hover {
    text-decoration: underline;
    color: blue;
}

.bot-header {
    height: 600px;
    background-image: url(../img/jumbo.png);
    background-size: cover;
    text-align: center;
    color: white;
    position: relative;
}

.contenuto {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.bot-header h1 {
    font-size: 50px;
    margin-bottom: 30px;
}

.bot-header p {
    font-size: 22px;
    font-weight: 600;
    line-height: 35px;
}

.large-btn {
    padding: 10px 20px;
    width: 180px;
    font-weight: 600;
}

.dark-btn {
    background-color: black;
    color: white;
    padding: 10px 20px;
    width: 280px;
    margin-top: 20px;
}

/* prima sezione */

.sezione {
    max-width: 1200px;
    height: 600px;
    margin: 0px auto ;
    padding-top: 70px;
}

.sezione h1 {
    font-size: 50px;
    font-weight: 700;
}

.sezione p {
    font-size: 20px;
    font-weight: 600;
    margin-top: 30px;
}

.imgs {
    width: 40%;
}

.txts {
    width: 35%;
}

.wave img {
   opacity: 0.04;
   margin-bottom: -5px;
   width: 100%;
}

/* seconda sezione */

.seconda-sezione {
    max-width: 1200px;
    height: 600px;
    margin: 0px auto;
    padding-top: 70px;
}

.bg-gray {
    background-color: #f6f6f6;
}

.seconda-sezione h1 {
    font-size: 50px;
    font-weight: 700;
}

.seconda-sezione p {
    font-size: 20px;
    font-weight: 600;
    margin-top: 30px;
}

.imgs {
    width: 55%;
}

.txts {
    width: 35%;
}

/* terza sezione */

.terza-sezione {
    max-width: 1200px;
    height: 600px;
    margin: 0px auto;
    padding-top: 70px;
}

.terza-sezione h1 {
    font-size: 50px;
    font-weight: 700;
}

.terza-sezione p {
    font-size: 20px;
    font-weight: 600;
    margin-top: 30px;
}

.wave-white img {
    margin-bottom: -5px;
    filter: invert(1);
    margin-top: -60px;
}

.imgs {
    width: 55%;
}

.txts {
    width: 35%;
}

/* quarta sezione */

.quarta-sezione {
    max-width: 1200px;
    height: 600px;
    margin: 0px auto;
    padding-top: 70px;
}

.last-article {
    height: 1000px;
}

.quarta-sezione h1 {
    font-size: 50px;
    font-weight: 700;
}

.quarta-sezione h2 {
    font-size: 26px;
    font-weight: 700;
    text-align: center;
}

.quarta-sezione p {
    font-size: 20px;
    font-weight: 600;
    margin-top: 30px;
}

.quarta-sezione .imgs {
    width: 100%;
    padding: 0 150px;
}

.quarta-sezione .txts {
    width: 100%;
    text-align: center;
}

.stars {
    width: 45%;
    margin: 0 auto;
}

.quarta-sezione .button {
    background-color: #8ea1e1;
    border-radius: 50px;
    color: white;
    padding: 10px 20px;
    margin: 40px 500px;
}

.quarta-sezione .button:hover {
    text-decoration: underline;
    color: blue;
}

/* footer */

footer {
    height: 700px;
    background-color: #23272a;
}

.footer-container {
    max-width: 1200px;
    margin: 0 auto;
}

.top-footer {
    width: 100%;
    height: 80%;
    padding-top: 80px;
    margin-bottom: 100px;
}

.bot-footer {
    border-top: 2px solid #7289da;
    padding-top: 40px;
}

.contact {
    width: 25%;
    float: left;
    color: #7289da;
}

.contact img {
    height: 15px;
    width: 25px;
    vertical-align: middle;
    margin-right: 5px;
    font-weight: 700;
}

.product-list, .company-list, .resourse-list, .norm-list {
    width: 13%;
    float: left;
    margin-right: 60px;
    font-weight: 700;
}

.ita {
    margin-top: 15px;
    color: white;
}

.top-footer li {
    list-style-type: none;
    margin-bottom: 10px;
}

.titoletto {
    color: #7289da;
}

.logo-footer {
    float: left;
}

.button-footer {
    float: right;
}

.button-footer a {
    background-color: #7289da;
    color: white;
}

.social {
    filter: invert(1);
    margin-top: 10px;
}

.social img {
    width: 25px;
    height: 25px;
    margin-right: 20px;
}