* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: "Open Sans", Verdana, Geneva, Tahoma, sans-serif
}

.container {
    max-width: 1200px;
    margin: 0 auto;
}

header {
    background-color: #3161e0;
}

nav {
    display: inline-block;
}

li {
    display: inline-block;
}

a {
    text-decoration: none;
}

.top-header li a:hover {
    text-decoration: underline;
}